@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@font-face {
  font-family: 'VarelaRound';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('VarelaRound'), url(../public/fonts/VarelaRound-Regular.ttf) format('woff2');
}

.input-icons i {
  position: absolute;
}

.icon {
  padding: 10px;
  min-width: 40px;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.dropdownDivider {
  border-right: 2px solid #e0e0e0;
}

.carousel .slide img {
  max-height: 300px;
  /* change this to whatever you want */
  width: auto;
  object-fit: cover;
  z-index: -100;
}

.iwantto {
  z-index: '100';
  
}

.bgImageWhite{
  background-image: rgb(255, 255, 255);
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.slick-prev:before {
  color: rgb(60,190,99)!important;
}

.slick-next:before {
  color: rgb(60,190,99)!important;
}

.slick-dots li.slick-active button:before {
  color: rgb(60, 190, 99) !important;
}

/* Home Page */
