/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&display=swap");

@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("Karla"), url(/fonts/Karla-VariableFont_wght.ttf) format("woff2");
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none !important;
  outline: none !important;
}

* {
  font-family: "Karla", sans-serif;
  letter-spacing: -0.04em;
}

.input-icons i {
  position: absolute;
}

.icon {
  padding: 10px;
  min-width: 40px;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.dropdownDivider {
  border-right: 2px solid #e0e0e0;
}

.carousel .slide img {
  max-height: 300px;
  /* change this to whatever you want */
  width: auto;
  object-fit: cover;
  z-index: -100;
}

.iwantto {
  z-index: "100";
}

.bgImageWhite {
  background-image: rgb(255, 255, 255);
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.slick-prev:before {
  color: rgb(60, 190, 99) !important;
}

.slick-prev-character {
  background-image: url("/Users/jonathanvandenberg/2022/VPBank/public/right-arrow.png");
  cursor: pointer;
}

.slick-next:before {
  color: rgb(60, 190, 99) !important;
  cursor: pointer;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;

  list-style-type: none;
}

.slick-dots li {
  top: -40px;
  margin: 0 0.25rem;
  border-radius: 50%;
}

.slick-dots button:before {
  display: block;
  width: 1rem;
  height: 1rem;
  padding: 0;

  border: none;
  border-radius: 100%;
  background-color: rgb(185, 228, 193);

  text-indent: -9999px;
}

.slick-dots li.slick-active button:before {
  background-color: rgb(60, 190, 99);
  border-radius: 100%;
}

/* Hamburger */

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
  outline: none;
  border: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background-color: black;
  position: absolute;
  transform: rotate(0);
  transition: all 0.5s;
  outline: none;
  border: none;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100px;
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: rgb(202, 201, 201);
}

/* Footer Collapsible Arrow Rotate */

.Collapsible__trigger.is-open svg {
  transform: rotate(90deg);
}

/* grid-favorites */

.grid-favorites {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 2.5rem;
  margin-top: 1rem;
}

.grid-favorites-compare {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
  margin-top: 1rem;
}

/* Placeholder Overlay */

.placeholder-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 1;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ AI ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  height: 300px;
  overflow-y: auto;
}

.chat-message {
  display: inline-block;
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 8px;
  max-width: 80%;
}

.user {
  background-color: #e1e9ff;
  align-self: flex-end;
  text-align: right;
}

.assistant {
  background-color: #e4e4e4;
  align-self: flex-start;
  text-align: left;
}

.message-content {
  font-size: 14px;
  line-height: 1.5;
  font-size: large;
}

.input-container {
  display: flex;
  margin-top: 16px;
}

textarea {
  flex-grow: 1;
  padding: 8px;
  border: none;
  border-radius: 8px;
  line-height: 1.5;
  background-color: rgb(255, 255, 255);
}

button {
  margin-left: 8px;
  padding: 8px;
  border: none;
  border-radius: 8px;
  background-color: #4caf50;
  color: white;
  font-size: 14px;
  line-height: 1.5;
  cursor: pointer;
}

button:hover {
  background-color: #388e3c;
}
